@use './colours' as *;
@use './fonts' as *;
@use './breakpoints' as *;
@use './mixins' as *;

.footer {
    background-color: $primary-black;
    color: $white;
    padding: 1.5rem;

    @include tablet {
        position: relative;
        padding: 3rem 3.25rem;
    }

    @include desktop {
        padding: 3rem 8.75rem;
    }

    &__find-us {
        display: flex;
        flex-direction: column;

        @include tablet {
            flex-direction: row;
            align-items: flex-end;
        }
    }

    &__header {
        padding: 1.75rem 3rem 0 0;

        @include tablet {
            word-spacing: 0.05rem;
            letter-spacing: 0.05rem;
        }
    }

    &__socials {
        display: flex;
        align-items: center;
        width: 30%;
        padding: 2.5rem 0 2rem 0;
        column-gap: 2.5rem;

        @include tablet {
            padding: 0;
            column-gap: 1.45rem;
        }
    }

    &__social {
        width: 2rem;
        height: 2rem;

        @include tablet {
            width: 2.05rem;
            height: 2.05rem;
        }

        &--twitter {
            width: 2.5rem;

            @include tablet {
                width: 2.5rem;
            }
        }
        
        &--facebook {
            width: 2.5rem;
            height: 2rem;

            @include tablet {
                width: 3rem;
                height: 1.99rem;
            }
        }
    }

    &__credits {
        display: flex;
        flex-direction: column;

        @include tablet {
            padding: 5rem 0 0 0;
            flex-direction: row;
            column-gap: 4rem;
        }  
    }

    &__agent {
        display: flex;
        flex-direction: column;
        padding-bottom: 1rem;

        @include tablet {
        //    padding: 0 3.8rem 0 0;
        }

        &--last {
            @include tablet {
            padding: 0 0 0 2.1rem;
            }
        }
    }   

    &__contact {
        padding: 0 0 1.2rem 0;
    }

    &__featured {
        color: $white;
        font-weight: 600;
        letter-spacing: 0.05rem;
        word-spacing: 0.1rem;

        @include tablet {
            font-size: 1.08rem;
            letter-spacing: auto;
            word-spacing: 0;
            line-height: 1.6rem;
        }
    }

    &__info {
        color: $mercury;

        @include tablet {
            font-size: 1.08rem;
            line-height: 1.8rem;
            word-break: break-word;
        }
    }

    &__logo {
        width: 9.5rem;
        height: 5.5rem;
        padding: 3.2rem 0 0 0;

        @include tablet{
            padding: 0;
            position: absolute;
            top: 5.25rem;
            right: 3rem;
            height: 1.8rem;
            width: auto;
        }

        @include desktop {
            top: 5rem;
            right: 8.75rem;
        }
    }

    &__copyright {
        font-size: 1rem;
        padding: 1rem 0 0 0;
        
        @include tablet {
            font-size: 1.15rem;
            padding: 3rem 0 1rem 0;
        }
    }
}