@use './colours' as *;
@use './fonts' as *;
@use './breakpoints' as *;
@use './mixins' as *;

.footer {
    background-color: $primary-black;
    color: $white;
    padding: 1.5rem;

    @include tablet {
        position: relative;
        padding: 3rem;
    }

    &__find-us {
        display: flex;
        flex-direction: column;

        @include tablet {
            flex-direction: row;
        }
    }

    &__header {
        padding: 1.75rem 2rem 0 0;

        @include tablet {
            word-spacing: 0.4rem;
            letter-spacing: 0.1rem;
        }
    }

    &__socials {
        display: flex;
        align-items: center;
        width: 30%;
        padding: 2.5rem 0 2rem 0;
        column-gap: 1.75rem;

        @include tablet {
            padding: 0;
        }
    }

    &__social {
        width: 2.5rem;
        height: 2.5rem;

        &--twitter {
            width: 3rem;
        }
        
        &--facebook {
            width: 3rem;
            height: 2.5rem;
        }
    }

    &__credits {
        display: flex;
        flex-direction: column;

        @include tablet {
            padding: 5rem 0 0 0;
            flex-direction: row;
        }

        :nth-child(3) {
            @include tablet{
                padding: 0;
            }
        }    
    }

    &__agent {
        display: flex;
        flex-direction: column;
        padding-bottom: 1rem;

        @include tablet {
            padding: 0 3.8rem 0 0;
        }
    }   

    &__contact {
        padding: 0 0 1.2rem 0;
    }

    &__featured {
        color: $mercury;
        font-weight: 600;
        letter-spacing: 0.05rem;
        word-spacing: 0.1rem;

        @include tablet {
            font-size: 1.12rem;
            letter-spacing: 0;
            word-spacing: 0;
            line-height: 1.8rem;
        }
    }

    &__info {
        color: $mercury;

        @include tablet {
            font-size: 1.12rem;
            line-height: 1.8rem;
            word-break: break-word;
        }
    }

    &__logo {
        width: 9.5rem;
        height: 5.5rem;
        padding: 3.2rem 0 0 0;

        @include tablet{
            padding: 0;
            position: absolute;
            top: 4.7rem;
            right: 2.1rem;
            height: 1.8rem;
        }
    }

    &__copyright {
        font-size: 1rem;
        padding: 1rem 0 0 0;
        
        @include tablet {
            font-size: 1.15rem;
            padding: 3rem 0 1rem 0;
        }
    }
}