@use './colours' as *;
@use './breakpoints' as *;
@use './mixins' as *;

/*mobile hero is matches the mockup at 617px by 1108px but will scale
nicely for users with screens as small as 350px*/
.hero {
    margin: 0;
    background-image: url(../../Assets/Images/hero-bio.jpg);
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    min-height: 25rem;
    z-index: 1;

    @include tablet {
        min-height: 32rem;
    }

    @include desktop {
        min-height: 40rem;
    }

/* style guide says opacity should be set at 50% but doesn't match
the style guide - not sure if this is just my computer but the colours
were way too dull at 50% compared to the mock up */
    &__filter {
        position: absolute;
        background-size: inherit;
        background-color: $primary-black;
        opacity: 35%;
        width: 100%;
        height: 25rem;

        @include tablet {
            min-height: 32rem;
        }

    }

    &__heading {
        color: $white;
        word-spacing: 0.5rem;
        position: absolute;
        padding: 10rem 2rem;
        z-index: 8;

        @include tablet {
            padding: 15rem 2.7rem;
        }
        
    }
    
}