@use './colours' as *;
@use './breakpoints' as *;
@use './mixins' as *;

.hero {
    margin: 0;
    background-image: url(../../Assets/Images/hero-bio.jpg);
    background-size: 100%;
    background-position: auto;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    height: 14rem;
    z-index: 1;

    @include mobile {
        height: 23rem;
    }

    /*@include mini {
        height: 20rem;
    }

    @include mobile {
        height: 30rem;
    } */

    &__filter {
        position: absolute;
        background-size: auto;
        background-color: $primary-black;
        opacity: 50%;
        width: 100%;
        height: inherit;
    }

    &__heading {
        color: $white;
        position: absolute;
        padding: 15% 1rem;
        z-index: 8;

        @include mobile {
            padding: 25% 1rem;
        }
    }
    
}