@use './colours' as *;

.hero {
    margin: 0;
    background-image: url(../../Assets/Images/hero-bio.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    position: left;
    box-shadow: inset 10rem 25rem rgba(50, 50, 50, 0.5);
    width: 100%;
    height: 30vh;
    margin: 0;
    display: flex;
    align-items: center;

    &__heading {
        color: $white;
        font-weight: 600;
        font-size: 2.25rem;
        position: absolute;
        padding-left: 1rem;
        z-index: 8;
    }
    
}