@use './colours' as *;
@use './breakpoints' as *;
@use './mixins' as *;


//nav is here so that it can be linked to additional pages with minimal code
.nav {
    background-color: $primary-black;
    margin: 0;
    @include tablet {
        display: flex;
    }
    &__home {
        display: flex;
        justify-content: center;
        padding-top: 1rem;
        margin: 0;

        @include tablet {
            justify-content: flex-start;
            padding: 2.25rem;
        }
        @include desktop {
            justify-content: flex-start;
            padding: auto;
        }
    }
        &__logo {
            max-height: 1.25rem;
            @include tablet {
                padding-right: 4rem;
            }
        }
    &__links {
        color: $white;
        list-style: none;
        padding: 1rem 0;
        margin: 0;
        display: flex;
        justify-content: space-evenly;
    }
        @include tablet {
            justify-content: flex-start;
            align-items: flex-end;
        }
        &__link {
            padding-right: 1rem;
            text-decoration: underline 0.15rem solid $white;
            text-underline-offset: 1.1rem;

            @include tablet {
                padding-right: 2.25rem;
                padding-bottom: 1rem;
                text-decoration: underline 0.15rem solid $white;
                text-underline-offset: 2.1rem;
            }
            :hover {
                text-decoration: underline;
            }    
            :active {
                text-decoration: underline;
            }
            
        }
            &__link-url {
                color: $white;
                text-decoration: none;
            }
}