@use './colours' as *;
@use './breakpoints' as *;
@use './mixins' as *;


//nav is here so that it can be linked to additional pages with minimal code
.nav {
    background-color: $primary-black;

    @include tablet {
        display: flex;
    }
    &__home {
        display: flex;
        justify-content: center;
        padding: 1.5rem 0;

        @include tablet {
            justify-content: flex-start;
            padding: 3rem 4rem;
        }
        @include desktop {
            justify-content: flex-start;
            padding: auto;
        }
    }
        &__logo {
            width: 13rem;
            @include tablet {
                width: 16rem;
            }
        }
    &__links {
        color: $mercury;
        list-style: none;
        display: flex;
        padding: 0;
    }
        @include tablet {
            justify-content: flex-start;
            align-items: flex-end;
        }

        &__link-url {
            color: $mercury;
            text-decoration: none;
        }

        &__link {
            color: $mercury;
            font-size: 1.75rem;
            text-align: center;
            width: 50%;
            display: flex;
            justify-content: space-evenly;

            @include tablet {
                margin: 3 0 6rem 0;
                display: flex;
                align-items: flex-start;
            }

            :hover {
                color: $white;
                width: 100%;
                padding-bottom: 1.25rem;
                border-bottom: solid 0.25rem $white;

                @include tablet {
                    padding-bottom: 2.8rem;
                    border-bottom: underline 0.15rem solid $white;
                    width: fit-content;
                }
            }    
            :active {
                width: 100%;
                padding-bottom: 1.25rem;
                color: $white;
                border-bottom: solid 0.25rem $white;

                @include tablet {
                    padding-bottom: 2.8rem;
                    border-bottom: underline 0.15rem solid $white;
                    width: fit-content;
                }
            }
            
        }
    }