@use './Partials/footer' as *;
@use './Partials/hero' as *;
@use './Partials/nav' as *;
@use './Partials/colours' as *;
@use './Partials/fonts' as *;
@use './Partials/mixins' as *;
@use './Partials/breakpoints' as *;

body {
    font-family: 'Avenir';
    margin: 0;
}

* {
    box-sizing: border-box;
    margin: 0;
}

//the sections on this page are specific to the bio page - content is not structured the same anywhere else
.about {
    display: flex;
    flex-direction: column;
    padding: 2rem 1.5rem 1.5rem 1.5rem;

    @include tablet {
        padding: 3rem;
    }

    &__header {
        color: $primary-black;
        padding: 0 0 1rem 0;
        }    

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;

        @include tablet {
        padding: 1rem 4rem;
        }
    }

    &__image {
        object-fit: cover;
        object-position: bottom;
        height: 15rem;
        width: 100%;

        @include tablet {
            height: 23rem;
        }
    }

    &__quote {
        padding: 1rem 0 0 0;
        word-spacing: 0.2rem;
        color: $primary-black;
    }

    &__subheader {
        padding: 2.5rem 0 0.25rem 0;
        color: $hover-black;
    }
    
    &__more-info {
        color: $primary-black;
        display: flex;
        flex-direction: column;
        
        @include tablet {
            flex-direction: row;
            justify-content: flex-start;
        }
    }

    &__content {
        font-size: 1.23rem;
        padding: 1.25rem 0 0 0;
        justify-content: space-between;
    }
}

.gallery {
    background-color: $alabaster;
    padding: 1rem 1.5rem;

    @include tablet  {
        padding: 3rem;
    }

    &__header {
        padding-top: 1rem;
        color: $primary-black;
        padding: 1rem 0;
    }

    &__photos {
        display: flex;
        flex-direction: column;
        object-fit: contain;

        @include tablet {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
        }
    }

    &__photo {
        object-fit: contain;
        padding: 0.5rem 0;

        @include tablet {
            width: 32%;
            padding: 0 1rem 1rem 0;
        }
    }

    &__photo:nth-child(3n) {
        @include tablet {
            padding: 0 0rem 1rem 0;
        }
    }

    &__photo:nth-child(n+7) {
        @include tablet {
            padding: 0 1rem 0 0;
        }
    }

&__photo:nth-child(9) {
    @include tablet {
        padding: 0;
        }
    }
}