@use './Partials/footer' as *;
@use './Partials/hero' as *;
@use './Partials/nav' as *;
@use './Partials/colours' as *;
@use './Partials/fonts' as *;
@use './Partials/mixins' as *;
@use './Partials/breakpoints' as *;

body {
    font-family: 'Avenir';
    margin: 0;
}

* {
    box-sizing: border-box;
    margin: 0;
}

//the sections on this page are specific to the bio page - content is not structured the same anywhere else
.about {
    display: flex;
    flex-direction: column;
    padding: 1rem;

    @include tablet {
        padding: 3rem;
    }

    &__header {
        color: $primary-black;
        }    

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1rem 3rem 3rem 3rem;
    }

    &__image {
        object-fit: contain;
    }

    &__quote, &__quote-by {
        padding: 1rem 0 0 0;

    }

    &__subheader {
        padding: 1.5rem 0 0 0;
    }
    
    &__more-info {
        display: flex;
        flex-direction: column;

        @include tablet {
            flex-direction: row;
            justify-content: space-evenly;
        }
    }

    &__content {
        font-size: 1.1rem;
        padding: 1rem 0 0 0;
    }
}

.gallery {
    background-color: $alabaster;
    padding: 1rem;

    @include tablet  {
        padding: 2rem;
    }

    &__header {
        padding-top: 1rem;
    }

    &__photos {
        display: flex;
        flex-direction: column;
        object-fit: contain;

        @include tablet {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }

    &__photo {
        object-fit: contain;
        padding: 1rem 0 0 0;

        @include tablet {
            width: 30vw;
        }
    }
}