@use './Partials/footer' as *;
@use './Partials/nav' as *;
@use './Partials/colours' as *;
@use './Partials/fonts' as *;
@use './Partials/mixins' as *;
@use './Partials/breakpoints' as *;
@use './partials/hero';

body {
    font-family: 'Avenir';
    margin: 0;
}

* {
    box-sizing: border-box;
    margin: 0;
}
